@charset 'utf-8';

* {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

h1 {
  font-size: 40px;
}

/* 컨테이너 */
.container {
  display: flex;
  gap: 40px;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box-group {
  display: flex;
  align-items: center;
  gap: 40px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 50px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
}

.box.tie {
  border-color: black;
}
.box.win {
  border-color: green;
}

.box.lose {
  border-color: red;
}

.box .title {
  padding: 8px 10px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  background: #000;
  line-height: 1;
}

.box .img {
  width: 140px;
  height: 140px;
}

.button-group {
  display: flex;
  gap: 40px;
}

.button-group button {
  font-size: 30px;
  border: 0;
  background: #fff;
  cursor: pointer;
  transition: all .3s ease;
}

.button-group button:hover {
  transform: scale(1.5);
}